# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Database files
db-data/
crypto_report.db
crypto_report.json


# IDE (PyCharm)
.idea/

# OS files
.DS_Store
Thumbs.db


.coverage
htmlcov/
